.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.login-header {
  color: blue;
}

.spacer {
  flex: 1 1 auto;
}

.tribe-width {
  width: 180px
}

.login-width {
  width: 350px
}
